/* game board table */

#board td {
    width: 50px;
    height: 50px;
    border: solid 1px whitesmoke;
  }
  .background {
    position: relative; 
    z-index: -1;
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  h1 {
    position: absolute;
    margin-top: -95px;
    color: whitesmoke;
    font-family: 'Cabin Sketch', cursive;
    font-size: 4rem;
    padding-left: 25%;
  }
  .background img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
  }

  /* pieces are div within game table cells: draw as colored circles */
  
  .piece {
    /* TODO: make into circles */
    border-radius: 50%;
    margin: 5px;
    width: 80%;
    height: 80%;
  }
  
  /* TODO: make pieces red/blue,  depending on player 1/2 piece */
  .piece .player1{ /*if currPlayer = 1, color = red; if currPlayer = 2, color = blue; - add class when designating playing 1 vs player 2? Toggle class?*/
    color: red
    /*     background-image: url("https://i.pinimg.com/originals/e1/69/08/e169088e82bacaa742db4b2a9b35691b.png");
 */
  }
  .piece .player2{ /*if currPlayer = 1, color = red; if currPlayer = 2, color = blue; - add class when designating playing 1 vs player 2? */
    color: blue
        /*     background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Pittsburgh_Steelers_logo.svg/2048px-Pittsburgh_Steelers_logo.svg.png");
 */
  }

  /* column-top is table row of clickable areas for each column */
  
  #column-top td {
    border: dashed 1px whitesmoke;
  }
  
  #column-top td:hover {
    background-color: gold;
  }